ul, li
{
	padding:0;
	margin:0;
}

#sidebar .option
{
	background-color:#1570A5;
	list-style-type: none;
	border-top: solid 1px;
	border-bottom: solid 1px;
	text-align: center;
	box-shadow: 0 0 10px #000000 inset;
	vertical-align:middle;
}

#sidebar .opt
{
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	font-size: 12px;
	font-family: times new roman;
	display:block;	
	padding: 5% 0 5% 0;
	text-decoration:none;
	text-transform: uppercase;
	border: solid 1px;
}

#sidebar a:hover
{
	background-color: #ffffff;
	color: #000000;
	border: solid 1px;
	text-shadow:none;
	text-decoration:underline;
}

#content .cn-sb-info
{
	margin: 1% 0 1% 5%;
	font-weight: bold;
	font-family: times new roman;
	font-size: 14px;
}