#container
{
	max-width: 80%;
	margin: 10% 20%;
    font: 13px Arial, Helvetica, sans-serif;
}

#login
{
	margin:5% 5%;
	height: 60%;
	border:solid 1px;
	border-color:#000000;
	box-shadow: 2px 2px 2px 2px grey;
}

.signin
{
	float: left;
	width: 45%;
	margin-top: 5%;
	margin-left: 5%;
	border-right: solid 1px;
}

.register
{
	float:right;
	width: 45%;
	margin-top: 5%;
	margin-right: 2%;
}