#sidebar .icon-paw
{
	background-image: url(line-paw.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;
	width:10%;
	height:5%;
	margin-right: 15%;
}

#sidebar .icon-profile
{
	background-image: url(profile.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;
	width:10%;
	height:5%;
	margin-right: 15%;
}

#sidebar .icon-pet
{
	background-image: url(pet.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;
	width:10%;
	height:5%;
	margin-right: 15%;
}

#sidebar .icon-notif
{
	background-image: url(notif.png);
	background-size: 100%;
	background-repeat: no-repeat;
	display:inline-block;
	width:10%;
	height:5%;
	margin-right: 15%;
}